## Deliverable 3. Create a Travel Itinerary Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import sys

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Kailua,US,85.98,few clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
1,12,Mount Isa,AU,78.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
2,13,Fort Walton Beach,US,84.99,clear sky,30.4058,-86.6188,Best Western Ft. Walton Beachfront
3,23,Kavieng,PG,84.22,light rain,-2.5744,150.7967,Nusa Island Retreat
4,38,Varadero,CU,79.56,few clouds,23.1536,-81.2514,Hotel Tuxpan Varadero

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Shimoda"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Shimoda"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Tateyama"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Katsuura"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hasaki"]

In [13]:
vacation_start[["Lat","Lng"]].to_numpy()
(vacation_start[["Lat"]].to_numpy()[0][0],vacation_start[["Lng"]].to_numpy()[0][0])

(34.6667, 138.95)

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[["Lat"]].to_numpy()[0][0], vacation_start[["Lng"]].to_numpy()[0][0])
end = (vacation_end[["Lat"]].to_numpy()[0][0], vacation_end[["Lng"]].to_numpy()[0][0])
stop1 = (vacation_stop1[["Lat"]].to_numpy()[0][0], vacation_stop1[["Lng"]].to_numpy()[0][0])
stop2 = (vacation_stop2[["Lat"]].to_numpy()[0][0], vacation_stop2[["Lng"]].to_numpy()[0][0])
stop3 = (vacation_stop3[["Lat"]].to_numpy()[0][0], vacation_stop3[["Lng"]].to_numpy()[0][0])

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

direction_fig = gmaps.figure()
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
direction_fig.add_layer(direction_layer)
direction_fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,154,Shimoda,JP,83.14,scattered clouds,34.6667,138.9500,Shimoda Tokyu Hotel
1,498,Tateyama,JP,91.15,few clouds,34.9833,139.8667,Tateyama Seaside Hotel
2,330,Katsuura,JP,87.91,few clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
3,199,Hasaki,JP,88.29,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
weather_info = [info_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
dir_marker_layer = gmaps.marker_layer(locations, info_box_content=weather_info)
direction_fig.add_layer(dir_marker_layer)
# 11b. Display the figure
direction_fig

Figure(layout=FigureLayout(height='420px'))